<?xml version="1.0"?>
<config>
    <modules>
        <Medma_Reward>
            <version>0.2.1</version>
        </Medma_Reward>
    </modules>
    <frontend>
        <routers>
            <reward>
                <use>standard</use>
                <args>
                    <module>Medma_Reward</module>
                    <frontName>reward</frontName>
                </args>
            </reward>
   	    <customer>
			<args>
			    <modules>
			        <medma_reward before="Mage_Customer">Medma_Reward</medma_reward>
			    </modules>
			</args>
	    </customer>
        </routers>
        <layout>
            <updates>
                <reward>
                    <file>reward.xml</file>
                </reward>
            </updates>
        </layout>
	<events>
		    <checkout_submit_all_after>
		        <observers>
		           <Medma_Reward_Model_Observer>
		              <type>singleton</type>
		              <class>Medma_Reward_Model_Observer</class>
		              <method>sendRedeemedAmount</method>
		           </Medma_Reward_Model_Observer>
		       </observers>
		    </checkout_submit_all_after>
	</events>
    </frontend>
    <admin>
        <routers>
			<!--<reward>
				<use>admin</use>
				<args>
					<module>Medma_Reward</module>
					<frontName>reward</frontName>
				</args>
			</reward>-->
			<adminhtml>
				<args>
				    <modules>
				        <medma_reward before="Mage_Adminhtml">Medma_Reward_Adminhtml</medma_reward>
				    </modules>
				</args>
	    		</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<reward>
					<file>reward.xml</file>
				</reward>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <reward>
                <class>Medma_Reward_Model</class>
                <resourceModel>reward_mysql4</resourceModel>
            </reward>
            <reward_mysql4>
                <class>Medma_Reward_Model_Mysql4</class>
                <entities>
                    <reward>
                        <table>customer_redemption</table>
                    </reward>
		    <redemptpayment>
                        <table>redemption_payment</table>
                    </redemptpayment>
                </entities>
            </reward_mysql4>
        </models>
        <resources>
            <reward_setup>
                <setup>
                    <module>Medma_Reward</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reward_setup>
            <reward_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reward_write>
            <reward_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reward_read>
        </resources>
        <blocks>
	    <adminhtml>
		<rewrite>
		  <customer_edit>Medma_Reward_Block_Adminhtml_Customer_Edit</customer_edit>
		</rewrite>
	    </adminhtml>
            <reward>
                <class>Medma_Reward_Block</class>
            </reward>
        </blocks>
        <helpers>
            <reward>
                <class>Medma_Reward_Helper</class>
            </reward>
        </helpers>
    </global>
</config>
